.inline-block{
  display: inline-block;
  vertical-align:top;
}
.logo{
  width: 23%;
  padding: 1%;
  text-align: center;
}
nav {
  width:73%;
  padding:1%;
}
ul {
  width: 50%;
  margin-left: auto;
}
.heroImg{
  height: 600px;
  padding: 25px;
}
.content{
  width: 500px;
  margin: 0 auto;
}
footer{
  color: white;
  background-color: #373738;
}
footer ul{
  vertical-align: top;
}
.flex-container {
  display: flex;
  background-color: #DBBEA1;
  width: 33%;
  margin: 30%;
  padding: 2%;
}
@media screen (max-width: 600) {
  
}